# Ignore Python bytecode caches
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd
.vscode/settings.json
.vscode/launch.json
venv/*
plan.md
*.pyc
zimx/app/__pycache__/config.cpython-312.pyc
zimx/app/__pycache__/config.cpython-312.pyc
zimx/app/__pycache__/main.cpython-312.pyc
zimx/app/ui/__pycache__/jump_dialog.cpython-312.pyc
zimx/app/ui/__pycache__/main_window.cpython-312.pyc
zimx/app/ui/__pycache__/markdown_editor.cpython-312.pyc
zimx/app/ui/__pycache__/task_panel.cpython-312.py
dist/
build/
sample-vault/
vault-sample/
sample-vault/.zimx/settings.db
dev-assets/vault-sample
dev-assets/vault-sample/**
slipstream/
.continue/agents/new-config.yaml
.continue/mcpServers/new-mcp-server.yaml
dev-assets/specs/slipstream-ai.md
dev-assets/ZimXDevelopment/.zimx/ai-chats.db
